.AnomalyDetection {
  background-color: rgb(248, 250, 253);
}

.Container {

  height: 100vh;
  width: 100vw;
  padding-left: 10px;
  padding-right: 10px;
}

.Center {
  height: 50vh;
  display: flex;
  padding-top: 30px;
  padding-left: 260px;
  justify-content: center;
  overflow: auto;
}

.Frame {
  height: 49vh;
  width: calc(100% - 5px);
  padding-left: 245px;
}

.Title {
  display: flex;
  padding-top: 40px;
  padding-left: 245px;
}

.Padding {
  padding-left: 270px;
}