/* Sidebar2.css */
.title {
  background-color: rgb(34, 34, 34);
  font-size: 1.2rem;
  color: white;
  padding: 13px;
}

div.Bar {
  position: fixed;
  height: 100vh;
  width: 260px;
  top: calc(50px + 1/3 * 100vh);
  left: 0;
  z-index: 999;
  background-color: rgb(34, 34, 34);
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.nav-button,
.sub-nav-button {
  color: rgb(237, 237, 237);
  width: 100%;
  padding: 13px;
  border: none;
  background-color: transparent;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.nav-button:hover,
.sub-nav-button:hover {
  background-color: rgb(186, 87, 87);
}

.nav-button.active,
.sub-nav-button.active {
  background-color: rgb(186, 87, 87);
  /* 원하는 클릭 시 배경색으로 변경하세요 */
}

.sub-nav-button.active {
  background-color: rgb(120, 120, 120);
}

.sub-nav-button:hover {
  background-color: rgb(120, 120, 120);
}