.riContainer {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.riCenter {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.AccordionButton {
    width: 100%;
    text-align: left;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 5px 15px;
    border-bottom: 1px solid #ccc;
}

.CloseSidebarButton {
    width: 100%;
    text-align: left;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 5px 15px;
}

.OpenSidebarButton {
    width: 40px;
    border: none;
    position: fixed;
    left: 250px;
    bottom: 0;
    top: 90px;
    background-color: white;
    border: 0.2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    z-INDEX: 1;
}